rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 📝 کاربران
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // 💰 تراکنش‌ها
    match /transactions/{transactionId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    
    // 🎫 تیکت‌ها
    match /tickets/{ticketId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    
    // 🔗 دعوت‌ها
    match /referrals/{referralId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    
    // 🎯 ماموریت‌ها
    match /missions/{missionId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
  }
}